# lines starting with '#' are comments
# web_url,SECRET_TOKEN,script_to_execute
https://gitlab.com/Sheppy_/simple-webhook-handler,FzxxY7sQoyRFWGaSZFju,~/autodeploy-scripts/simple-webhook-handler.sh
https://gitlab.com/Sheppy_/atlantis-blog,Q8CDRQ724h,~/autodeploy-scripts/blog.sh
https://gitlab.com/Sheppy_/atlantishq-blog-dreamplus,aYb75tE1WN,~/autodeploy-scripts/blog.sh
https://gitlab.com/Sheppy_/serien-ampel,bFJVhOh3h5,~/autodeploy-scripts/serienampel.sh
https://gitlab.com/Sheppy_/simple-python-poll,VogqD3J1A6,~/autodeploy-scripts/simple-python-poll.sh
https://gitlab.com/Sheppy_/static-html-calendar-generator,Bu4uxsnsIC,~/autodeploy-scripts/static-html-calendar-generator.sh
https://gitlab.com/Sheppy_/open-web-leaderboard,atfgYzMbW2,~/autodeploy-scripts/leaderboard.sh
https://gitlab.com/Sheppy_/ese-website,XL8ZimxHKr,~/autodeploy-scripts/ese-website.sh
